<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whyType</title>
        <!-- google import -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />

    <!-- local styesheet -->
    <link rel="stylesheet" href="static/css/styles.css">
    

</head>
<body>
    <div class="nav">
        <div class="nav-left">
            <div class="user-info">
                <span class="material-symbols-outlined logo" style="font-size: 4rem;">
                    keyboard_keys 
                    <span class="logo-text">whyType</span>
                </span>
                
            </div>

        </div>
        <div class="nav-right">
            <div class="user-info">
                <span id="login-signup-btn" style="display: flex;"> 
                    <div class="user-name">login
                    <span class="material-symbols-outlined">
                        account_circle
                        </span>
                    </div>
                    </span>

            </div>
        </div>

    </div>

    <!-- <h1>...start typing</h1> -->
    <div id="progress-container"></div>

    <div class="main">
        <p id="target-sentence">Loading...</p><br>
        <p id="sentence-display"></p>
    </div>

    <!-- Modal -->
    <div id="authModal" class="modal-login">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="authForms">
                <!-- Login Form -->
                <div id="loginForm">
                    <h2>Login</h2>
                    <form id="login">
                        <input type="text" id="login-username" name="username" placeholder="username" required><br>
                        <input type="password" id="login-password" name="password" placeholder="password" required><br>
                        <button type="submit">Login</button>
                        <p id="login-error" style="color: red;"></p>
                    </form><br>
                    <p>Don't have an account? </p>
                    <button id="switch-to-signup">Sign up</button>
                </div>

                <!-- Signup Form -->
                <div id="signupForm" style="display: none;">
                    <h2>Sign Up</h2>
                    <form id="signup">
                        <input type="text" id="signup-username" name="username" placeholder="username" required><br>
                        <input type="password" id="signup-password" name="password" placeholder="password" required><br>
                        <button type="submit">Sign Up</button>
                        <p id="signup-error" style="color: red;"></p>
                    </form><br>
                    <p>Already have an account? </p>
                    <button id="switch-to-login">Login</button>
                </div>
            </div>
        </div>
    </div>

    <script src="static/js/justType.js"></script>
    <script src="static/js/authModal.js"></script>
</body>
</html>
